@import url(https://fonts.google.com/specimen/Overpass);
:root {
	/* ## COLORS  */
	/* ### Primary  */
	--Orange: hsl(25, 97%, 53%);

	/* ### Neutral  */
	--White: hsl(0, 0%, 100%);
	--Light-Grey: hsl(217, 12%, 63%);
	--Medium-Grey: hsl(216, 12%, 54%);
	--Dark-Blue: hsl(213, 19%, 18%);
	--Dark-Blue-btn: hsl(216, 13%, 15%);
	--Very-Dark-Blue: hsl(216, 12%, 8%);
	/* ## COLORS  */

	/* ## TYPOGRAPHY */
	/* ### Body Copy */
	--Font-size-paragraph: 15px;

	/* ### Font */
	--Body-Font: "Overpass";
	--heading-Weights: 700;
	--Body-Weights: 400;
	/* ## TYPOGRAPHY */
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--Body-Font);
	background-color: var(--Very-Dark-Blue);
	color: var(--Light-Grey);
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}
.card1,
.card2 {
	padding: 2rem;
	border-radius: 10px;
	max-width: 20rem;
	margin: auto;
	background: var(--Dark-Blue);
	line-height: 1.25rem;
}
h2 {
	color: var(--White);
	font-family: var(--Body-Font);
	font-weight: var(--heading-Weights);
	margin: 20px 0;
}
.Center-Items {
	display: flex;
	flex-direction: column;
	align-items: center;
}
button {
	appearance: none;
	border: none;
	background: none;
}
.rating-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.circle-bg {
	display: flex;
	justify-content: center;
	place-items: center;
	background-color: var(--Dark-Blue-btn);
	border-radius: 50%;
	width: 40px;
	height: 50px;
	padding: 10px;
	font-size: var(--Font-size-paragraph);
	color: var(--Light-Grey);
	font-size: var(--Body-Font);
	text-align: center;
	margin: 20px 1%;
	width: 15%;
}

.rating:hover:not(:first) {
	color: var(--White);
	background-color: var(--Orange);
}
.rating:focus {
	color: var(--White);
	background-color: var(--Medium-Grey);
}
.Submit {
	display: block;
	color: white;
	background-color: var(--Orange);
	border-radius: 20px;
	width: 100%;
	padding: 10px;
	margin: 10px auto;
	font-size: 1.2rem;
}
.Submit:hover {
	color: var(--Orange);
	background-color: var(--White);
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.hidden {
	display: none;
}
